.rich-text {
    @include flex(column, nowrap);
    gap: 0.75em;

    h1 { font-size: var(--text-heading-1); }
    h2 { font-size: var(--text-heading-2); }
    h3 { font-size: var(--text-heading-3);  }
    ul {
        @include flex(column);
        gap: 0.25em;
        padding-inline-start:1em;        
        list-style-type: '❀ ';
    }
    
    img {
        border: 1px dotted;
    }    

}

